#game-container {
    display: grid;
    grid-template-columns: repeat(5, 60px); /* Adjust according to new board size */
    grid-template-rows: repeat(5, 60px); /* Adjust according to new board size */
    gap: 0px;
    position: relative;
}

.tile {
    width: 60px; /* Match to iconSize */
    height: 60px; /* Match to iconSize */
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: background-image 0.2s ease;
}
