body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    margin-top: 20px;
}

#score {
    margin: 20px;
    font-size: 1.5em;
}

/* styles.css */
#game-container {
    width: 240px; /* Adjust to desired width */
    height: 240px; /* Adjust to desired height */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.tile {
    width: 10px;  /* Reduce size */
    height: 10px; /* Reduce size */
    background-size: cover;
    cursor: pointer;
}



.hidden {
    display: none;
}
